<a href="https://colab.research.google.com/github/edujongkook/colab_sbs_python_weekend/blob/main/python_%EA%B8%B0%EC%B4%88_2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2일차 강의 내용
- 연산자
- 조건문
- 반복문

## 연산자 (operator) - p70

### 기본 연산자

- 기본사칙연산에서 곱셈만 * 로 연산
- 거듭제곱은 **
- 나눗셈의 몫을 구하는 연산자 //
- 나눗셈의 나머지를 구하는 연산자 %

In [ ]:
7 * 2  # 7 x 2
7 ** 2  # 7의2제곱
7 // 2  # 7 / 2 의 몫
7 % 2  # 7 / 2 의 나머지

✅ p73 예제

In [ ]:
a = 7
b = 2
print('{} * {} = {}'.format(a, b, a*b))
print('{} ** {} = {}'.format(a, b, a**b))
print('{} // {} = {}'.format(a, b, a//b))
print('{} % {} = {}'.format(a, b, a%b))

### 대입 연산자

In [4]:
li = [1, 2, 3, 4]
a, b, c, d = li[0], li[1], li[2], li[3]  # python은 한번에 여러 변수에 대입 가능

✅ p75 예제

In [ ]:
# 간단하게 스왑 가능
a, b = 10, 20
print('a = %d, b = %d' %(a, b))
a, b = b, a
print('a = %d, b = %d' %(a, b))

# 다른 언어에서는 동시에 여러변수 대입이 되지 않아서 임시 변수가 필요함
temp_var = a
a = b  # a <- b
b = temp_var  # b <- a

In [ ]:
# 복합대입 연산
a += b  # a = a + b
a *= 4  # a = a * 4
b /= b  # b = b / b
a **= 2  # a = a ** 2

### 관계 연산자

- 같다 ( == )
- 같지않다 ( != )

In [ ]:
print(1 > 10)
print(30 <= 1.5)
print(100 == 10)
print(0.5 < 0)
print(10 != 11)

### 논리 연산자

In [ ]:
a = True
b = False
print(a and b)  # a와 b가 모두 True 여야 True
print(a and a)
print(a or b)  # a와 b 둘중에 하나만 True면 True
print(b or b)
print(not a)
print(not b)

### 비트 연산자

In [ ]:
print( 1 & 1 )  # & (AND) 연산은 두값이 모두 1인 경우에만 1
print( 1 & 0 )  # 0
print( 1 | 0 )  # | (OR) shift + \ 연산은 두값 중 한 값만 1 이면 1
print( 1 ^ 0 )  # ^ (XOR) 두 값이 서로 다른 경우에만 1
print( ~1 )  # ~ (NOT) 값의 bit 를 역으로 바꿈
print( 1 << 2 )  # bit 의 위치를 왼쪽으로 2비트 이동
print( 4 >> 2 )  # bit 의 위치를 오른쪽으로 2비트 이동

#### ⚡ 컴퓨터가 음수를 표현하는 방법, 보수개념, signed / unsigned 형
python 은 int 형을 32bit signed 형으로 2의 보수를 이용하여 음수 표현
https://yaneodoo2.tistory.com/entry/Signed%EC%99%80-Unsigned-1%EC%9D%98-%EB%B3%B4%EC%88%98-2%EC%9D%98-%EB%B3%B4%EC%88%98%EC%9D%98-%EB%AA%A8%EB%93%A0-%EA%B2%83

### 시퀀스 연산자

In [ ]:
li = [1, 3, 5] + [2, 4, 6]  # [1, 3, 5, 2, 4, 6]
s = 'hello' + ' ' + 'world'  # 'hello world'

### 맴버 연산자 in

In [ ]:
1 in [1, 2, 3]

In [ ]:
1 in (1, 2, 3)

In [ ]:
'1' in '12345'

In [ ]:
'a' in {'a' : 'apple'}

### 삼항 연산자

In [ ]:
#  X if a > b else Y  a > b 값이 True 면 X 아니면 Y
a = 100 if 10 > 100 else 0
b = 100 if 100 > 0 else 0
print(a)
print(b)

### ❓ 응용예제 -p85


> 2번  - 1분은 60초이고, 1시간은 60분 입니다. 1시간은 3600초 입니다.
임의의 초를 입력받아서 해당 초를 시, 분, 초로 변환하여 출력하는 프로그램을 구현하세요

In [ ]:
초를 입력하세요 >>> 3690
변환결과는 1시간 1분 30초 입니다



> 5번 - 국어, 영어, 수학 점수를 각각 입력받아서 평균을 구하고,
>평균이 80점 이상이면 '합격', 아니면 '불합격'을 출력하는 프로그램을 구현하세요.

In [ ]:
국어 점수를 입력하세요 >> 85
영어 점수를 입력하세요 >> 83
수학 점수를 입력하세요 >> 81
평균은 83.0점이고, 결과는 합격입니다.



---

## 조건문 - p90

### if ~ elif ~ else

In [ ]:
if 조건식_1 :
    조건식_1 값이 True인 경우 실행
elif 조건식_2 :
    조건식_1 값이 False고 조건식_2 값이 True인 경우 실행
...
...
elif 조건식_x:
    이전의 조건식이 모두 False고 조건식_x 의 값이 True인 경우 실행
else:
    위의 boolean이 모두 False인경우 실행

✅ p98 예제

In [ ]:
age = int(input('몇 살입니까? >>>'))
if age <= 7 :
    print('미취학')
elif age <= 13:
    print('초등학생')
elif age <= 16:
    print('중학생')
elif age <= 19:
    print('고등학생')
else:
    print('성인')

- 다양한 조건식

In [ ]:
x = 100
if x > 10:
    print(x)

if 'h' in 'hello':
    print('h in hello')

li = [1]
if li:
    print('list not empty')

li.pop(0)
if not li:
    print('list empty')

# 가능하지만 특별한 경우에만
if 0 < x < 100:
    print('@.@')

if li or 'h' in 'world' and x < 100 or True:
    print('@.@')

### ⚡ Python 3.10 부터 지원되는 Match-case 문

https://okeybox.tistory.com/395

In [93]:
!python --version

Python 3.10.12

In [ ]:
a = 'apple'
match a:
    case 'apple':
        print('apple')
    case 'banana':
        print('banana')

### ❓ 응용예제 -p99

> 1번 - 점수를 입력받아서 학점을 출력하는 프로그램을 구현하세요.
학점은 점수가 100\~90점이면 'A', 89\~80점이면 'B', 79\~70점이면 'C',
69\~60점이면 'D', 59\~0점이면 'F'입니다.

In [ ]:
점수를 입력하세요 >>> 95
점수는 95점이고, 학점은 A학점 입니다.

> 3번 - 임의의 정수 3개를 입력받아 그 중에서 가장 큰 수를 출력하는 프로그램을 구현하세요.

In [ ]:
정수1 입력 >>> 3
정수2 입력 >>> 1
정수3 입력 >>> 2
가장 큰 수는 3입니다.

## 반복문 -p102

### while 문

In [ ]:
while 조건식:
    반복실행문

In [ ]:
while True:
    print('hello')

In [ ]:
n = 1
while n <= 100:
    print(n)
    n+=1

#### ❓ 응용예제 -p112



> 3번 - 커피 1잔을 300원에 판매하는 자판기가 있습니다.
 이 자판기에 돈을 입력하면 뽑을수 있는 커피가 몇 잔이며
 잔돈은 얼마인지 함께 출력하는 프로그램을 구현하세요

In [ ]:
자판기에 얼마를 넣을까요? >>> 1400
커피 1잔, 잔돈 1100원
커피 2잔, 잔돈 800원
커피 3잔, 잔돈 500원
커피 4잔, 잔돈 200원

### continue 와 break

In [ ]:
n = 0
while n <= 99:
    n+=1
    if n % 2 == 0:
        continue  # while 문으로 다시 되돌아감
    print(n)
    if n > 50:
        break  # break 가 실행되는 반복문 밖으로 빠져나감
print('while문 밖')

### for 문

In [ ]:
for 변수 in 반복가능객체:
    반복실행문

In [ ]:
for s in 'hello':
    print(s)

✅ p120 예제

In [ ]:
pwd = input('비밀번호를 입력하세요 >>>')
ch_count = 0
num_count = 0

for ch in pwd:
    if ch.isalpha():
        ch_count += 1
    elif ch.isnumeric():
        num_count += 1

if ch_count > 0 and num_count > 0:
    print('가능한 비밀번호입니다.')
else:
    print('불가능한 비밀번호입니다.')

In [ ]:
for n in [1, 2, 3]:
    print(n)

### 리스트 내포 (list comprehension)

In [ ]:
리스트 = [표현식 for 변수 in 반복가능객체]

In [ ]:
[n*2 for n in [1, 2, 3]]

In [ ]:
[n*2 for n in [1, 2, 3, 4, 5] if n % 2 == 1]

In [ ]:
[n*2 if n < 3 else n for n in [1, 2, 3, 4, 5] ]

### ⚡ Python comprehension
http://pythonstudy.xyz/python/article/22-Python-Comprehension

In [139]:
data_key = ['states', 'actions', 'rewards', 'next_states', 'dones']
dict_data = {k: [] for k in data_key}  # 배열의 각문자열을 key로 하고 빈 리스트를 값으로 하는 dict 초기화

### for문과 range() 함수

In [ ]:
for n in range(10):
    print(n)

In [ ]:
range(10)

In [ ]:
for n in range(1,11):
    print(n)

### for문과 dict

In [ ]:
person = {
    'name': '에밀리',
    'age': 20
}

for k in person:
    print(person[k])

### ❗ 응용예제변형 - p130



> 4번 변형 - 다음과 같은 10명의 성적을 100점을 받은 학생의 점수를 제외한 점수를 5점씩 증가시킨 'score' 리스트를
list comprehension을 이용해서 작성, 단 100점이 초과 되지 않도록 처리하세요
(Hint : min()함수를 사용하면 작은값을 정할수 있습니다. min(5, 10)의 결과는 5)

In [171]:
exam = [99, 78, 100, 91, 81, 85, 54, 100, 71, 50]
score = [100, 83, 100, 96, 86, 90, 59, 100, 76, 55]