<a href="https://colab.research.google.com/github/edujongkook/colab_sbs_python_weekend/blob/main/python_%EA%B8%B0%EC%B4%88_3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

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

## 3일차 강의 내용
- 주요 내장함수, 매소드
- 사용자 함수

### 복습

- 변수와 자료형

In [ ]:
integer = 10  # 정수형
string = 'hello world'  # 문자열
boolean = True or False  # 부울(bool)형
float_point = 3.14  # 실수형

- 컬렉션

In [ ]:
list_collection = [1,2,3,4,'list',True]  # 리스트
tuple_collection = (1, 2, 3, 'list', False)  # 튜플 - 값 바꿀수 없음
set_collection = {1, 2, 3, 4, 5, 5, 5, True, 'a', 'a'}  # 세트 - 중복 허용안됨
print(set_collection)
dictionary = {'a' : 'apple', 'b' : 'banana', 'c': 3}  # 딕셔너리 키:값 쌍으로
print(dictionary)

- 인덱싱 / 슬라이싱

In [ ]:
list_collection[4]
string[3]
tuple_collection[-1]
print(list_collection[1:4])

- 문자열 포맷팅

In [ ]:
a, b = 10, 20
print('{} * {} = {}입니다.'.format(a, b, a * b))
print(f'{a} * {b} = {a * b}입니다.')

- 제어문

In [ ]:
while list_collection[0] < tuple_collection[2]:
    print(list_collection, tuple_collection)
    list_collection[0] += 1

In [ ]:
for n in range(2, 10):
continue
break

### 문제 ✅-p141 다음 조건을 만족하는 구구단을 출력하세요
- 짝수인 단(2,4,6,8단)은 출력하지 말고 blank line만 추가하세요.
- 각 단까지만 출력하세요, 예를 들어 3단은 3x3까지, 5단은 5x5까지

In [ ]:
3x1=3
3x2=6
3x3=9

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

#### 코드

In [ ]:
for d in range(2, 10):
    if d % 2 == 0:
        print()
        continue
    for n in range(1, 10):
        if n > d:
            break
        print(f'{d}x{n}={d*n}')

### 응용예제 ✅-p130 4번

다음과 같은 10명의 성적을 100점을 받은 학생의 점수를 제외한 점수를 5점씩 증가시킨 'score' 리스트를 생성하고 출력  
단 100점이 초과 되지 않도록 처리하세요
(Hint : min()함수를 사용하면 작은값을 정할수 있습니다. min(5, 10)의 결과는 5)

In [2]:
exam = [99, 78, 100, 91, 81, 85, 54, 100, 71, 50]
score = [100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

### ❗ 응용예제변형



위의 4번예제 변형 - 'score' 리스트를
list comprehension을 이용해서 작성해 보세요

In [ ]:
score = [min(100, n+5) for n in exam]

## 내장함수와 매소드 -section9, 10

- 함수 (function) : 특정 코드들의 집합을 정의해 놓은 블록
- 매소드 (method) : 객체가 가지고 있는 함수
- 내장함수 (built-in) : 파이썬에서 기본적으로 제공하는 함수들  
https://docs.python.org/3.11/library/functions.html?highlight=built

In [ ]:
print('hello')  # 내장함수
a = [1,2,3]
a.append(4)  # 리스트 객체의 append 매소드

### 문자관련

- 문자관련 내장함수

In [ ]:
ord('A')  # 문자를 해당 유니코드 번호로

In [ ]:
chr(64) # 번호를 해당 유니코드 문자로

⚡ 문자 인코딩(Encoding <-> Decoding) - 각 문자를 컴퓨터 코드로 나타내는 방법  
https://terms.naver.com/entry.naver?docId=5662548&cid=43667&categoryId=43667
- 아스키코드 (ASCII)
- EUC-KR
- 유니코드 (UNICODE) 등



> 아스키코드 일부

![제목 없음.png]()

- 문자열 매소드 -p165

- find

In [ ]:
h = "hello world, hello python, hello universe"
h.find('hello')

In [ ]:
h.find('hello', 1)

- split

In [ ]:
pi = '3.14159'

In [ ]:
pi.split('.')

- replace

In [ ]:
s = '010-1234-5678'
s.replace('-', '')
s

#### ❓연습문제  
아래와 같은 형태로 날짜를 입력받아 년/월/일 을 각각   
출력하는 프로그램을 만들어보세요

In [ ]:
날짜를 입력하세요 >>> 2023/06/24
'오늘은 2023년 6월 24일 입니다.'

#### 코드

In [ ]:
date = input('날짜를 입력하세요').split('/')
print(f'오늘은 {date[0]}년 {int(date[1])}월 {int(date[2])}일 입니다')

날짜를 입력하세요2023/06/23
오늘은 2023년 6월 23일 입니다



---

### 숫자관련

- 숫자관련 내장함수

In [ ]:
divmod(10, 3)  # 몫 연산자 //, 나머지 연산자 %

In [ ]:
min(100, 5, 2)  # 값들 중에 최소값

In [ ]:
min([1,2,3,4,5])  # 반복가능 객체 (iterable) 중 최소값

In [ ]:
max(100, 5)  # 값들 중에 최대값

In [ ]:
max([10,43,20,123,40])  # 반복가능 객체 (iterable) 중 최소값

In [ ]:
round(3.14159)  # 반올림 (소수점 첫째자리에서)

In [ ]:
round(3.14159, 2)  # 반올림할 자릿수 지정

In [ ]:
sum([1,2,3,4,5])  # 반복가능 객체의 총합

In [ ]:
sum(range(1,6))

#### ❓ 연습문제


$2^\sqrt{2}$ `2**(1/2)` 의 소수점 10번째 자리까지 반올림한 값의

 소수점 이하 수 중에서 가장 작은 숫자와 큰숫자를 출력하는 프로그램을 만드세요.

 `ex) 3.14159 -> 가장작은숫자 1, 가장큰숫자 9`

In [ ]:
s = str(round(2**(1/2), 10)).split('.')[-1]
list_s = [int(n) for n in s]
min_in_list = min(list_s)
max_in_list = max(list_s)
print(min_in_list, max_in_list)

✅ 예제 -p153

다음은 빵집에서 10000원을 주고 빵과 거스름돈을 받는 상황을 구현한 것입니다. 빵은 하나에 3000원

In [ ]:
money = 10000
price = 3000
result = divmod(money, price)
print('빵을 {}개 사고 {}원이 남았습니다'.format(result[0], result[1]))

In [ ]:
type(result)

In [ ]:
result

- 튜플을 변수로 받는 방식

In [ ]:
bread, change = divmod(money, price)  # bread, change = result[0], result[1]
print(f'빵을 {bread}개 사고, {change}원이 남았습니다')  # f-strings 방식

빵을 3개 사고, 1000원이 남았습니다



---

### 시퀀스 관련

In [ ]:
names = ['james', 'emily', 'amada']
scores = [60, 70, 80]

- len / enumerate

In [ ]:
len(names)

In [ ]:
for index, name in enumerate(names):
    print(index, name)

- zip

In [ ]:
for name, score in zip(names, scores):
    print(name)
    print(score)

In [ ]:
for name, score in zip(names, scores):
    print(name, score)

✅ 예제 -p159  
다음은 리스트에 월별 일수를 저장해 두고 1월부터 12월까지 월별 일수를 출력하는 프로그램입니다.

In [ ]:
months = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for month, day in enumerate(months):
    print("{}월 = {}일".format(month+1, day))



---

## 사용자 함수 / 모듈과 import - section11, 12

### 사용자 함수

In [ ]:
import math

def get_area(radius):
    """
    개요: 반지름을 전달하면 원의 넓이를 반환하는 get_area() 함수
    작성자 : 김종국
    최초작성일 : 2023-06-17
    """
    area = math.pi * math.pow(radius, 2)
    return area

In [ ]:
radius = 1.5
# get_area() 함수 호출 결과를 area 변수에 저장
area = get_area(radius)
print(area)
print(get_area.__doc__) #Docstring 확인

In [ ]:
!ls

my_module.py  sample_data

### 인자와 매개변수

In [ ]:
def greet(massage, name='김하이'):
    print(f'{name}님, {massage}')

✅예제 -p191
다음은 전달된 모든 인수를 모두 더하는 프로그램입니다.

In [ ]:
def adder(*args):
    print('{}의 합은 {}입니다'.format(args, sum(args)))

In [ ]:
adder(1, 2, 3)

(1, 2, 3)의 합은 6입니다

### return

In [ ]:
def adder(*args):
    if sum(args) < 10:
        print('10이하입니다')
        return
    print('{}의 합은 {}입니다'.format(args, sum(args)))

In [ ]:
adder(1,2)

10이하입니다

In [ ]:
def calculator(*args):
    return sum(args), len(args), min(args), max(args)

In [ ]:
result = calculator(1,2,3)
print(result[0])

6

✅예제 -p195
커피 자판기 프로그램입니다.
1. 커피자판기에 돈과 주문할 커피를 전달합니다.
2. 주문할수 있는 커피의 종류와 가격을 dict로 정합니다.
3. 없는 커피를 주문할 경우 입력한 돈을 그대로 반환합니다.
4. 구매 금액이 부족하면 입력한 돈을 그대로 반환합니다.
5. 정산 주문이면 주문한 커피와 잔돈을 반환합니다.

In [ ]:
def coffee_machine(money, pick):
    print('{}원에 {}를 선택하셨습니다.'.format(money, pick))
    menu = {
        '아메리카노' : 1000,
        '카페라떼' : 1500,
        '카푸치노' : 2000
    }
    if pick not in menu:
        print('{}는 판매하지 않습니다'.format(pick))
        return money, '없는 메뉴'
    elif menu[pick] > money:
        print('{}는 {}원입니다.'.format(pick, menu[pick]))
        return money, '금액 부족'
    else:
        return money - menu[pick], pick

order = input('커피를 선택하세요. (아메리카노, 카페라떼, 카푸치노)')
pay = int(input('얼마를 내시나요? >>> '))

change, coffee = coffee_machine(pay, order)
print('잔돈 {}원, 커피 {}'.format(change, coffee))

❓ 위의 예제를 업그레이드
1. 커피 이름이 틀리거나 돈이 부족한 경우 다시 선택문 제공하여 진행
2. 금액이 2잔이상 가격이 입력되는 경우 몇잔을 주문할지   
다시 묻고 계산하기 마지막에 몇잔이 제공되는지 추가로 출력하기



---

In [ ]:
import my_module

In [ ]:
!pip install openai

In [ ]:
import os
import openai

API_KEY = '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'
openai.api_key = API_KEY

input_massage = input("메세지 >")
completion = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "system", "content": "당신은 나의 파이썬 프로그래밍 도우미 입니다."},
        {"role": "user", "content": input_massage}
    ]
)

In [ ]:
print(completion.choices[0].message.content)

In [ ]:
from rich.markdown import Markdown
Markdown(completion.choices[0].message.content)